{
  "overrides": [
    {
      "files": "./*.html",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.js",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
